<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>



  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
  </filter>



  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
      org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>listener.onlineUserCount</listener-class>
  </listener>

  <servlet>
    <servlet-name>helloservlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>servlet.FileUploadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>servlet.FileDownloadServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>helloservlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/Function/fileupload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/Function/filedownload</url-pattern>
  </servlet-mapping>




  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>




</web-app>



